@font-face {
    font-family: 'bw_gradual_demo';
    src: url('../fonts/bwgradualdemo-medium-webfont.woff2') format('woff2'),
        url('../fonts/bwgradualdemo-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'bw_gradual_demo';
    src: url('../fonts/bwgradualdemo-regular-webfont.woff2') format('woff2'),
        url('../fonts/bwgradualdemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat-Arabic';
    src: url("../fonts/ar/Montserrat-Arabic-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    overflow-x: hidden;
}

.font-white {
    color: #fff;
}

.font-black {
    color: #000;
}

.collapse:not(.show) {
    display: block;
}

.language {
    position: absolute;
    right: 10px;
    top: 54px;
}

.language ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language ul li a {
    font-size: 12px;
}

.language ul li a.ar {
    font-family: 'Montserrat-Arabic';
    font-weight: 500;
    font-size: 15.24px;
}

.language ul li {}

.language ul li span.separator {
    margin: 0 10px;
    color: #a47958;
}

.navbar-collapse .navbar-toggler {
    top: 20px;
    left: 20px;
    position: absolute;
}

.video-player {
    height: 100%;
    width: 100%;
    object-fit: unset;
    position: absolute;
    background-image: url('images/images-hq/bg.jpg');
    opacity: 1;
    top: 132px;
}

a {
    color: #a47958;
    letter-spacing: 1.2px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'bw_gradual_demo';
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 73px;
    line-height: 85.7px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

h2 {
    color: #933129;
    margin-bottom: 30px;
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 40px;
    color: #fff;
    font-family: 'bw_gradual_demo';
    letter-spacing: 5px;
}

h5 {
    font-size: 20px;
    letter-spacing: 5px;
    color: #37231c;
}

h6 {
    font-size: 18px;
    color: #37231c;
}

p {
    font-family: 'bw_gradual_demo';
    font-size: 16px;
    color: #37231c;
    line-height: 20px;
}

.play {
    position: absolute;
    top: 161px;
    right: 30px;
    z-index: 50;
    background: transparent;
    border: 0px;
    color: #fff;
    font-size: 16pt;
}

.mute-button {
    position: absolute;
    top: 201px;
    right: 25px;
    z-index: 50;
    background: transparent;
    border: 0px;
    color: #fff;
    font-size: 16pt;
}

button.btn,
a.btn {
    font-family: 'bw_gradual_demo';
    font-size: 26px;
    letter-spacing: 4px;
    border-radius: 0;
    border: 0;
    padding: 12px 30px;
    transition: 0.5s ease-in-out;
}

button.btn,
a.btn button.btn:hover,
a.btn:hover {
    transform: scale(1.1);
}

.text-justify {
    text-align: justify;
}

.btn-primary,
.btn-primary:hover {
    background-color: #c3936b;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: #7f4c4a;
}

.navbar-toggler {
    border: 1px solid #7a4643;
    color: #7a4643;
    padding: 10px;
    width: 50px;
    height: 40px;
    margin-top: 16px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}




nav.navbar {
    /*margin-bottom: -180px;*/
    z-index: 1;
    position: relative;
    font-family: 'bw_gradual_demo';
    font-weight: 500;
    padding: 20px 0;
    background: #fff;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: #7f4c4a;
    font-size: 15.24px;
    font-weight: 500;
    line-height: 17.89px;
    padding: 0px 25px;
}

nav.navbar a.navbar-brand {
    width: 268px;
    height: 96px;
}

nav.navbar a.navbar-brand figure {}

nav.navbar a.navbar-brand figure img {
    max-width: 100%;
    height: auto;
}

section.hero {
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
}

section.hero .container {
    height: 100%;
}


section.hero .hero-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

section.hero .hero-content .leftBox h1 {
    font-size: 47px;
    line-height: 62.7px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

section.hero .hero-content .rightBox {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
}

section.hero .hero-content .rightBox h5 {
    font-size: 26px;
    line-height: 35.8px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: right;
}


section.about {
    padding-bottom: 120px;
}

section.about .leftBox {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 46px;
}

section.about .leftBox .content {
    width: 570px;
}

section.about .leftBox .content h2 {
    color: #933129;
    margin-bottom: 55px;
    font-size: 2.7rem;
    letter-spacing: 10px;
    font-weight: normal;
}

/* section.about .leftBox .content p {
    font-size: 16px;
    color: #37231c;
    line-height: 20px;
  } */

section.about .rightBox {
    position: relative;
    top: -140px;
    margin-bottom: -130px;
    display: flex;
    justify-content: end;
}


/* Theme */
section.theme {
    width: 100%;
    overflow: hidden;
}

section.theme .theme-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 46px 0;
}

.padder {
    padding: 15px 0px;
    background: #f3f3f3;
}

section.theme .theme-content .leftDvdr {
    padding: 25px 0px;
}

section.theme .theme-content .titleDv {}

section.theme .theme-content .rightDvdr {}

section.theme .theme-content .leftDvdr img {
    width: 100%;
}

section.theme .theme-content .rightDvdr img {
    width: 100%;
}

section.theme .theme-content .titleDv {}

section.theme .theme-content .titleDv h2 {
    font-size: 2.7rem;
}


section.theme .theme-card {
    padding: 19px 0;
    background-color: #7a4643;
}

section.theme .theme-card .card {
    border: 0px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    background: transparent;
}

section.theme .theme-card .card .card-img {
    border-radius: 0;
}

section.theme .theme-card .card .card-img-overlay {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    height: 290px;
    top: auto;
    padding: 30px;
    transform: translateY(103px);
    transition: 0.3s ease-in-out;
}

/*section.theme .theme-card:hover .card .card-img-overlay {
    transform: translateY(8px);
    transition: 0.3s ease-in-out;
  }*/



section.theme .theme-card .card:before {
    content: "";
    background: #b28167;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    opacity: 0.9;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
}

section.theme .theme-card .card:hover::before {
    transform: translateY(0);
}

section.theme .theme-card .card .card-img-overlay .card-title {
    font-size: 64.38px;
    color: #fff;
    font-weight: 100;
}

section.theme .theme-card .card .card-img-overlay .card-text {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 10px;
}

section.theme .theme-card .card .card-img-overlay p {
    visibility: hidden;
}

section.theme .theme-card .card .card-img-overlay .btn.btn-primary {
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 0 25px;
    position: absolute;
    bottom: 30px;
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
}


section.theme .theme-card .card:hover .card-img-overlay .btn.btn-primary {
    visibility: hidden;
    transform: translateY(140%);
}

section.theme .theme-card .card .card-img-overlay .card-text section.theme .theme-card .card .card-img-overlay p {
    visibility: hidden;
}

section.theme .theme-card .card .card-img-overlay p {
    visibility: hidden;
    transition: 0.3s ease-in-out;
    transform: translateX(-120%);
    color: #fff;
}


section.theme .theme-card .card:hover .card-img-overlay p {
    transform: translateY(-95px);
}

section.theme .theme-card .card:hover .card-img-overlay p {
    visibility: visible;
}

section.theme .theme-card .card .card-img-overlay h5 {
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
    color: #fff;
}

section.theme .theme-card .card:hover .card-img-overlay h5 {
    transform: translateY(-95px);
}

section.theme .theme-card .card .card-img-overlay h6 {
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
    color: #fff;
}

section.theme .theme-card .card:hover .card-img-overlay h6 {
    transform: translateY(-95px);
}






section.theme .theme-card .card .card-img-overlay2 {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    height: 290px;
    top: auto;
    padding: 30px;
    transition: 0.3s ease-in-out;
}

/*section.theme .theme-card:hover .card .card-img-overlay2 {
  transform: translateY(8px);
  transition: 0.3s ease-in-out;
  }*/


section.theme .theme-card .card .card-img-overlay2 .card-title {
    font-size: 64.38px;
    color: #fff;
}

section.theme .theme-card .card .card-img-overlay2 .card-text {
    font-size: 32px;
    color: #fff;
}

section.theme .theme-card .card .card-img-overlay2 p {
    visibility: hidden;
}

section.theme .theme-card .card .card-img-overlay2 .btn.btn-primary {
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 0 25px;
    position: absolute;
    bottom: 30px;
    transform: translateY(0%);
}

section.theme .theme-card .card:hover .card-img-overlay2 .btn.btn-primary {
    visibility: hidden;
}

section.theme .theme-card .card .card-img-overlay2 .card-text section.theme .theme-card .card .card-img-overlay2 p {
    visibility: hidden;
}

section.theme .theme-card .card .card-img-overlay2 p {
    visibility: hidden;
    transition: 0.3s ease-in-out;
    color: #fff;
}


section.theme .theme-card .card:hover .card-img-overlay2 p {
    transform: translateY(-95px);
}

section.theme .theme-card .card:hover .card-img-overlay2 p {
    visibility: visible;
}

section.theme .theme-card .card .card-img-overlay2 h5 {
    transition: 0.3s ease-in-out;
    color: #fff;
}

section.theme .theme-card .card:hover .card-img-overlay2 h5 {}

section.theme .theme-card .card .card-img-overlay2 h6 {
    transition: 0.3s ease-in-out;
    color: #fff;
}

section.theme .theme-card .card:hover .card-img-overlay2 h6 {}






/* Was Cta */
section.was-cta {
    padding: 102px 0;
}

section.was-cta .content {}

section.was-cta .content .overImage {}

section.was-cta .content h1 {
    font-size: 58.28px;
    color: #933129;
    text-align: center;
}

section.was-cta .content .overImage img {
    margin: 0 auto;
    display: block;
}

/* Theme Speaker Section */
section.theme.speakers {
    background-color: #f3f3f3;
}

section.theme.speakers .theme-card.speaker-box {
    background: transparent;
}

section.was-cta {
    padding: 102px 0;
}

section.was-cta .content {}

section.was-cta .content .overImage {}

/* section.was-cta .content h1 {
    font-size: 58.28px;
    color: #933129;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    letter-spacing: 7px;
  } */
section.was-cta .content .overImage img {
    margin: 0 auto;
    display: block;
}

section.theme.speakers {
    background-color: #f3f3f3;
}

section.theme.speakers .theme-card.speaker-box {
    background: transparent;
}

section.theme.speakers .theme-card.speaker-box .card {}

section.theme.speakers .theme-card.speaker-box .card .card-img-overlay {
    height: 130px;
}

section.theme.speakers .theme-card.speaker-box .card .card-img-overlay .card-title {
    font-size: 25px;
}

section.theme.speakers .theme-card.speaker-box .card:before {
    display: none;
}

section.theme.speakers .theme-card.speaker-box .card .card-img-overlay .card-text {
    font-size: 16px;
    line-height: 22px;
}






section.theme.speakers .theme-card.speaker-box .card .card-img-overlay2 {
    height: 130px;
}

section.theme.speakers .theme-card.speaker-box .card .card-img-overlay2 .card-title {
    font-size: 25px;
}

section.theme.speakers .theme-card.speaker-box .card .card-img-overlay2 .card-text {
    font-size: 16px;
    line-height: 22px;
}







section.theme.speakers .theme-card.speaker-box .moreSpeaker-btn {}

/* programme */
section.programme-cta {
    padding: 80px 0;
    background-color: #7a4643;
}

.hero-sub {
    font-family: 'bw_gradual_demo';
    font-size: 47px;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    line-height: 28.7px;
}

section.programme-cta .leftBox {}

section.programme-cta .leftBox h2 {
    color: #fff;
    font-size: 2.7rem;
    letter-spacing: 8px;
    font-weight: 500;
}

section.programme-cta .btn.btn-secondary.text-uppercase {}


section.programme-cta .rightBox {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

section.programme-cta .rightBox .btn {
    /* font-size: 26px;
    letter-spacing: 4px;
    border-radius: 0;
    border: 0;
    padding: 12px 30px; */
}

/* VENUE SECTION */
section.venue {
    padding: 209px 0;
    background-image: url(../images/venueImage1.jpg);
    background-image: url(../images/venueImage1.jpg);
    background-position: center center;
    background-size: cover;
}

.container {}

.video-container {
    position: absolute;
    margin: auto;
    top: 53%;
    transform: translateY(-60%);
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

section.venue h2 {
    font-size: 2.7rem;
}

/* section.venue h5 {
    font-family: 'bw_gradual_demo';
    font-size: 20px;
    letter-spacing: 5px;
    color: #37231c;
  } */
section.venue .icoBox {
    display: flex;
    margin: 0 0 30px;
}

section.venue .icoBox .ico {
    width: 50px;
    margin-top: -4px;
}

section.venue .icoBox .listBox {}

section.venue .icoBox .listBox h6 {
    margin-bottom: 10px;
}

section.venue .icoBox .listBox a.btn {
    padding: 0 10px;
    min-width: 290px;
    line-height: 50px;
    font-size: 17.69px;
    margin-top: 10px;
}


/* footer */

ul.footer-email {
    margin: 0px;
    padding: 0px;
}

.footer-email li {
    list-style-type: none;
}

.footer-email li a {
    color: #fff !important;
    text-decoration: none;
}


footer.explore {
    background-color: #c3936b;
    position: relative;
}

footer.explore h3 {
    margin-bottom: 30px;
    font-size: 31px;
    letter-spacing: 3px;
    font-weight: 300;
}

footer.explore .footer-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}

footer.explore .footer-menu li {
    width: 143px;
    margin-right: 20px;
}

footer.explore .footer-menu li a {
    font-family: 'bw_gradual_demo';
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    letter-spacing: -0.4px;
}

footer.explore .rcfa {}

footer.explore .rcfa figure {
    margin: 0;
}

footer.explore .rcfa figure img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

footer.explore .copyright {
    background: #a47958;
}

footer.explore .social {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}

footer.explore .social li {
    margin-right: 25px;
}

footer.explore .social li a {}

footer.explore .container {
    padding: 56px 0;
}

footer.explore .copyright {}

footer.explore .copyright .logo-footer {}

footer.explore .copyright .logo-footer a {}

footer.explore .copyright .logo-footer a figure {
    margin: 0;
}

footer.explore .copyright .logo-footer a figure img {
    width: 160px;
}

footer.explore .copyright .container {
    padding: 23px 0;
}

footer.explore .copyright .text-copyright {
    color: #fff;
    font-size: 16px;
    margin: 15px 0 15px 0px;
}

.back-to-top-btn {
    background-color: #a47958;
    font-size: 26px;
    letter-spacing: 4px;
    border-radius: 0;
    border: 0;
    padding: 12px 30px;
    position: absolute;
    right: 0px;
    top: -30px;
}


button.accordion {
    font-size: 22px;
    letter-spacing: 1px;
    color: #37231c;
    font-weight: 500;
    border: 1px solid #f8f0e8;
}

.accordion {
    background-color: #f8f0e8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin: 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: white;
    border: 1px solid #c6986d;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 18px 0 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    line-height: 24px;
}


@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

@media (max-width: 1400px) {
    nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        padding: 0 15px;
    }

    nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        font-size: 13px;
    }

    ul.footer-email {
        font-size: 0.8em;
    }
}

@media (max-width: 1199px) {
    nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        padding: 0 10px;
    }

    section.hero .hero-content .leftBox h1 {
        font-size: 50px;
        line-height: 55.7px;
    }

    section.hero .hero-content .rightBox h5 {
        font-size: 20px;
        line-height: 25.8px;
    }


    section.theme .theme-content .leftDvdr img {
        width: auto;
        right: 0;
        padding: 15px 0px;
        position: absolute;
    }

    section.theme .theme-content .rightDvdr img {
        width: auto;
        padding: 15px 0px;
    }

    section.about .leftBox .content {
        width: 100%;
        padding: 50px 0;
    }

    section.about .leftBox .content h2 {
        margin-bottom: 30px;
        font-size: 2rem;
    }

    section.about .leftBox .content p {
        font-size: 14px;
    }

    section.about .rightBox {
        top: -128px;
        margin-bottom: -70px;
    }

    section.was-cta {
        padding: 62px 0;
    }

    section.was-cta .content h1 {
        font-size: 40.28px;
    }

    section.theme .theme-content .leftDvdr {
        width: 140px;
        position: relative;
        left: -15px;
        height: 30px;
    }

    section.theme .theme-card {
        padding: 13px 0;
    }

    section.theme .theme-card .card {
        margin: 12px 0;
    }

    section.theme .theme-content .titleDv h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    section.theme .theme-content .rightDvdr {
        width: 140px;
        position: relative;
        right: -15px;
    }

    footer.explore .footer-menu li {
        width: auto;
        margin-right: 15px;
    }

    footer.explore .rcfa figure img {
        margin: 0;
        width: 100%;
    }

    ul.footer-email {
        font-size: 0.7em;
    }
}

@media (max-width: 991px) {

    .navbar-collapse {
        position: fixed;
        width: 270px;
        background: #7a4643;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }

    .navbar-collapse .navbar-nav {
        text-align: center;
        width: 100% !important;
        margin: 0px 0 0px !important;
        padding: 0;
        overflow: visible;
    }

    nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        font-weight: bold;
        font-size: 20px;
        line-height: 33px;
        color: #fff;
    }

    .navbar-collapse.show {
        transform: translateX(0%);
        top: 0;
        right: 0;
        bottom: 0;
    }



    .play {
        position: absolute;
        top: 34vh;
        left: -84%;
        right: 0;
        z-index: 50;
        background: transparent;
        border: 0px;
        color: #fff;
        font-size: 14pt;
    }

    .mute-button {
        position: absolute;
        top: 34vh;
        right: 4%;
        z-index: 50;
        background: transparent;
        border: 0px;
        color: #fff;
        font-size: 14pt;
    }

    section.hero .hero-content .leftBox h1 {
        margin-bottom: 30px;
    }

    section.hero .hero-content .rightBox {
        justify-content: start;
    }

    section.hero .hero-content .rightBox h5 {
        text-align: left;
    }

    section.about .rightBox {
        justify-content: center;
    }

    button.btn,
    a.btn {
        font-size: 18px;
    }

    section.programme-cta .leftBox h2 {
        font-size: 1.5rem;
    }

    footer.explore h3 {
        margin-bottom: 20px;
        font-size: 31px;
        letter-spacing: 3px;
    }

    footer.explore .rcfa figure img {
        width: auto;
        margin: 0 0 50px;
    }

    ul.footer-email {
        margin: 0px;
        padding: 0px 0px 60px 0px;
    }



    section.hero {
        max-width: 100vw;
        overflow: hidden;
        background: #fff;
        height: auto;
        display: block;
    }

    .video-player {
        height: 56vw;
        position: relative;
        top: 0px;
        margin: 40px 0px;
    }

    .video-container {
        position: relative;
        transform: translateY(0%) translateX(0%);
        top: 0;
        left: 0px;
    }

    #video-controls {
        position: relative;
    }

    .play,
    .mute-button {
        top: -100px;
    }

    section.hero .hero-content {
        padding: 0 20px;
    }

    section.hero .hero-content .leftBox h1 {
        margin-bottom: 30px;
        font-size: 2.2rem;
        line-height: normal;
    }

    section.hero.home .hero-content .leftBox h1 {
        color: #a47958;
    }

    .hero-sub {
        font-size: 2.2rem;
        line-height: 1.2rem;
        color: #a47958;
        padding-top: 25px;
    }

    section.hero .hero-content .rightBox h5 {
        font-size: 1rem;
        line-height: 25.8px;
        padding-bottom: 25px;
        color: #a47958;
    }

    section.about {
        padding-bottom: 50px;
        margin-top: 120px;
    }

}

@media (max-width: 991px) and (min-width: 575px) {

    section.hero .hero-content .leftBox h1,
    section.hero .hero-content .leftBox .hero-sub {
        font-size: 3rem;
        letter-spacing: 0px;
    }

    .video-container {
        margin-bottom: 70px;
    }
}

@media (max-width: 991px) {
    .navbar>.container {
        position: relative;
    }

    .language {
        top: 42px;
        width: 100px;
        right: 50px;
    }
}

@media (max-width: 767px) {
    nav.navbar {
        /*margin-bottom: -108px;*/
        z-index: 1000;
        position: relative;
        font-family: 'bw_gradual_demo';
        font-weight: 500;
        padding: 20px 0 0;
    }

    nav.navbar a.navbar-brand {
        width: 180px;
        height: auto;
    }

    nav.navbar a.navbar-brand figure {
        margin: 0;
    }

    .language {
        top: 32px;
    }


    section.programme-cta .leftBox .overImage {
        text-align: center;
    }

    section.programme-cta .leftBox h2 {
        text-align: center;
    }

    section.programme-cta .rightBox {
        justify-content: center;
    }


    section.programme-cta .leftBox {
        margin-bottom: 30px;
    }

    footer.explore .copyright .text-copyright {
        margin: 15px 0 0 0;
    }

    ul.footer-email {
        margin: 0px;
        padding: 0px 0px 60px 0px;
    }
}

@media (max-width: 575px) {
    nav.navbar {
        padding: 5px 0px;
    }

    .language {
        top: 42px;
    }

    button.accordion {
        font-size: 16px;
    }

    .navbar-collapse .navbar-nav {
        margin: 15px 0px 0px 0px !important;
    }

    .home-content {
        margin: 0 auto;
        position: relative;
        top: 0px;
        color: #fff;
        z-index: 3;
    }

    .img-fluid {
        margin-top: 20px;
    }

    section.about .leftBox {
        padding: 0 20px;
    }

    section.about .leftBox .content {
        padding: 0;
    }

    section.theme .theme-content .leftDvdr img {
        width: auto;
        margin-left: -200%;
        margin-top: -30px;
    }

    section.theme .theme-content .rightDvdr img {
        width: auto;
    }

    section.theme .theme-content .leftDvdr {
        width: 60px;
    }

    section.theme .theme-content .rightDvdr {
        width: 60px;
    }

    section.theme .theme-card .card {
        margin: 12px 23px;
    }

    section.theme .theme-content .titleDv h2 {
        width: 200px;
    }

    section.was-cta .content h1 {
        line-height: 1.5;
    }

    footer.explore .rcfa figure img {
        width: 250px;
        margin: 10px 0 50px;
    }

    footer.explore .container {
        padding: 56px 20px;
    }

    footer.explore .copyright .container {
        padding: 23px 20px;
    }

    ul.footer-email {
        margin: 0px;
        padding: 0px 0px 60px 0px;
    }

    section.venue {
        padding: 80px 12px 78px 12px;
    }

    section.theme .theme-card .card .card-img-overlay {
        transform: translateY(70px);
    }


}